body {
  font-family: Bradley Hand, cursive;
    font-size: 112%;
    overflow: hidden;
    padding-bottom: 50px;
background-color: #F5F5F5;
}

input[type=text] {
width: 487px;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0; 
    right: 0;
    background-color: #fff; 
    text-align: center;
    padding: 10px 0; 
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.container input, .container button {
    padding: 5px;
    font-family: Andale Mono, monospace;
  }

.titulopg {
background-color: #90ee90;
    font-size: 1.8em;
    margin-bottom: 40px;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#valorDesconto {
font-size: 25px;
background-color: #ffffa6;
  border-radius: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pisValue {
background-color: #ffffd9;
  border-radius: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#coffinsValue {
background-color: #ffffd9;
  border-radius: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#calculoNValue {
background-color: #ffffd9;
  border-radius: 12px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 18px;
  border-radius: 5px; 
  border: 1px solid #CCCCCC; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  margin: 6px;
  cursor: pointer;
  border: 1px solid #CCCCCC; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C0C0C0;
}

button:active {
  background-color: #A0A0A0;
}

.hidden {
  display: none;
}

#rodape {
  font-size: 12px;
  margin: 0 auto; 
  padding: 10px 0;  
  width: fit-content; 
  line-height: normal; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

input::placeholder {
    font-size: 12px;
}

.botao-simples-nacional {
  text-align: center;
  padding: 10px 0;
}

.simples-nacional-btn {
  padding: 10px 20px;
  background-color: #AFEEEE;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.simples-nacional-btn:hover {
  background-color: #6495ED;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 30px;
}

.imagens img {
    margin: 0 30px;
    width: 100px;
}
