body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
  background-color: #FAFAFA;
  color: #333;
  font-weight: bold;
}

#valorDesconto {
font-size: 25px;
}

input[type=text], button, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.titulopg {
  background-color: #1ABC9C;
  color: white;
  font-size: 2em;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info-box {
  background-color: #ECF0F1;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #1ABC9C;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

button:hover {
  background-color: #16A085;
}

.hidden {
  display: none;
}

#rodape {
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
}

.botao-simples-nacional {
  text-align: center;
  padding: 0;
  margin-top: -15px;
    font-weight: bold;
}

.simples-nacional-btn {
  background-color: #3498DB;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.simples-nacional-btn:hover {
  background-color: #2980B9;
}

.linha {
  margin-top: 10px;
  max-width: 800px;
}

#links {
  text-align: center;
  font-size: 24px;
}

.imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.imagens img {
  margin: 0 30px;
  max-width: 100px;
  height: auto;
}
